*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* main */
.main{
    background-color: #222831;
    min-height: 100vh;
    padding: 10px;
}

/* heading */

.heading{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.heading h1{
    color: #EEEEEE;
    font-size: 4rem;
    font-weight: 600;
}

/* search form */

.search-form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.search-form form input, button{
    outline: none;
    border: none;
    padding: 20px;
    font-size: 1.4rem;
    border-radius: 5px;
    font-weight: 500;
}

.search-form form input{
    margin-right: 15px;
}

/* search button */

.search-form form button{
    position: relative;
    overflow: hidden;
    padding: 20px 35px;
    
}

.search-form form button::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #76ABAE;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease .6s;
}

.search-form form button:hover::after{
    bottom: 0;
    border-radius: 5px;
}

.search-btn-para{
    z-index: 9;
    position: relative;
}

/*loder */

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #76ABAE; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    display: none;
}

.loader-div{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* content */

.content{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 100px;
}

/* img content */

.book-img{
    display: none;
}


/* text content */

.title{
    color: #F7E7DC;
    font-size: 2rem;
    margin-bottom: 30px
}

.li{
    color: #EEEEEE;
    font-size: 1.5rem;
    list-style-type: none;
    margin-top: 25px;
}